@layer typography {
  :root {
    --typo-border-color: #d4d4d4;
    --typo-caption-size: 0.875rem;
    --typo-caption-spacing: 0.75rem;
    --typo-code-background: #f5f5f5;
    --typo-code-padding: 1rem;
    --typo-column-min: 200px;
    --typo-gallery-caption-background: linear-gradient(#0000, #0006);
    --typo-gallery-caption-color: white;
    --typo-gallery-caption-padding: 0.75rem;
    --typo-gallery-min: 200px;
    --typo-gallery-spacing: 2px;
    --typo-heading-spacing: 1rem;
    --typo-initial-letter: 3;
    --typo-spacing: 1.5rem;
    --typo-spoiler-collapse-text: "Collapse";
    --typo-spoiler-expand-text: "Expand";
    --typo-spoiler-padding: 1rem;
    --typo-table-cell-padding: .5rem;
  }
}
.typography * {
  margin: 0;
  box-sizing: border-box;
}
.typography :where(hr) {
  height: 0;
  border-width: 0;
  border-top: 1px solid var(--typo-border-color);
  margin-top: var(--typo-spacing);
}
.typography :where(br:not(p > br)) {
  display: none;
}
.typography > *:not(:where(:last-child)) {
  margin-bottom: var(--typo-spacing);
}
.typography :where(p, hr, figure, img, blockquote, ul, ol, pre, table, video, audio, iframe, details, div[class*=typo-]):not(:where(video[class], audio[class], :last-child, :where(figure, blockquote) :last-of-type)) {
  margin-bottom: var(--typo-spacing);
}

.typography :where(pre:has(> code)) {
  border-inline-start: 3px solid var(--typo-border-color);
  background-color: var(--typo-code-background);
  padding: var(--typo-code-padding);
  font-size: 1rem;
  overflow-x: auto;
}
.typography :where(code) {
  background: var(--typo-code-background);
}

.typography :where(h1, h2, h3, h4, h5, h6) {
  margin-bottom: var(--typo-heading-spacing);
  font-weight: 500;
  line-height: 1.5;
}
.typography :where(h1) {
  font-size: clamp(1.75rem, 5vw, 2.25rem);
}
.typography :where(h2) {
  font-size: clamp(1.5rem, 4.25vw, 1.875rem);
}
.typography :where(h3) {
  font-size: clamp(1.25rem, 3.75vw, 1.625rem);
}
.typography :where(h4) {
  font-size: clamp(1.125rem, 3.25vw, 1.375rem);
}
.typography :where(h5) {
  font-size: clamp(1rem, 2.75vw, 1.25rem);
}
.typography :where(h6) {
  font-size: clamp(0.875rem, 2.5vw, 1.125rem);
}

.typography :where(table) {
  border-collapse: collapse;
}
.typography :where(tr > *) {
  padding: var(--typo-table-cell-padding);
  border: 1px solid var(--typo-border-color);
  word-break: normal;
}
.typography :where(blockquote) {
  border-inline-start: 3px solid var(--typo-border-color);
  padding-inline-start: var(--typo-spacing);
}
.typography :where(ul, ol) {
  padding-inline-start: var(--typo-spacing);
}
.typography :where(ul) {
  list-style-type: square;
}
.typography :where(ol) {
  list-style-type: decimal;
}

.typography :where(figure) {
  width: max-content;
}
.typography :where(figcaption) {
  text-align: center;
  margin-top: var(--typo-caption-spacing);
  font-size: var(--typo-caption-size);
}
.typography :where(img, video, iframe, figure) {
  display: block;
  max-width: 100%;
  height: auto;
}
.typography :where(audio) {
  width: 100%;
}
.typography :where(iframe[src*=vimeo i], iframe[src*=youtube i], video) {
  aspect-ratio: 16/9;
  width: 100%;
  height: auto;
}

.typo-align-left {
  float: inline-start;
  clear: inline-start;
  margin-inline-end: var(--typo-spacing);
}
.typo-align-right {
  float: inline-end;
  clear: inline-end;
  margin-inline-start: var(--typo-spacing);
}
.typo-align-center {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  place-content: center;
}
.typo-align-full {
  width: 100%;
}

.typo-columns {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: var(--typo-spacing);
}
.typo-columns > * {
  flex: 1 1 var(--typo-column-min);
  margin-bottom: 0;
}

.typo-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: var(--typo-gallery-spacing);
}
.typo-gallery > * {
  flex: 1 1 var(--typo-gallery-min);
  margin-bottom: 0;
}
.typo-gallery :where(img) {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.typo-gallery :where(figure) {
  position: relative;
}
.typo-gallery :where(figcaption) {
  background: var(--typo-gallery-caption-background);
  color: var(--typo-gallery-caption-color);
  padding: var(--typo-gallery-caption-padding);
  position: absolute;
  inset: auto 0 0;
}

.typo-drop-cap::first-letter {
  margin-inline-end: 1em;
  initial-letter: var(--typo-initial-letter);
}

.typo-spoiler {
  padding: var(--typo-spoiler-padding);
  border-top: 1px solid var(--typo-border-color);
  border-bottom: 1px solid var(--typo-border-color);
}
.typo-spoiler :where(summary) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.typo-spoiler :where(summary)::after {
  content: var(--typo-spoiler-expand-text);
}
.typo-spoiler:where([open]) > :where(summary) {
  margin-bottom: var(--typo-spacing);
}
.typo-spoiler:where([open]) > :where(summary)::after {
  content: var(--typo-spoiler-collapse-text);
}
.typo-spoiler:where([name]):where(:has(+ .typo-spoiler)) {
  margin-bottom: 0;
  border-bottom: 0;
}

.typo-table {
  overflow-x: auto;
}
.typo-table-fixed {
  table-layout: fixed;
  width: 100%;
}
