@use "../abstracts/variables";

.typo {
  &-left {
    float: left;
    clear: left;
    margin-right: var(--typo-spacing, variables.$spacing);
  }

  &-right {
    float: right;
    clear: right;
    margin-left: var(--typo-spacing, variables.$spacing);
  }

  &-center {
    margin-left: auto;
    margin-right: auto;
    display: table;
  }
}
