@use "../abstracts/variables";

.typo-columns {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: var(--typo-spacing, variables.$spacing);

  > * {
    flex: 1 1 var(--typo-column-min, variables.$column-min);

    // Child elements should not have margin
    margin-bottom: 0;
  }
}
