@use "../abstracts/variables";

.typo {
  &-table {
    overflow-x: auto;
  }

  &-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;
    gap: var(--typo-between-spacing, variables.$between-spacing);
  }
}
