.typo-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: var(--typo-gallery-spacing);

  > * {
    flex: 1 1 var(--typo-gallery-min);
    margin-bottom: 0;
  }

  :where(img) {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  :where(figure) {
    position: relative;
  }

  :where(figcaption) {
    background: var(--typo-gallery-caption-background);
    color: var(--typo-gallery-caption-color);
    padding: var(--typo-gallery-caption-padding);
    position: absolute;
    inset: auto 0 0;
  }
}
