@use "../abstracts/variables";

.typo {
  // Typography
  &-drop-cap::first-letter {
    margin-inline-end: 1em;
    initial-letter: var(--typo-initial-letter, variables.$initial-letter);
  }

  @each $size, $value in variables.$font-sizes {
    &-text-#{$size} {
      font-size: var(--typo-text-#{$size}, $value);
    }
  }

  // Table
  &-fixed-layout {
    table-layout: fixed;
    width: 100%;
  }

  // Figure alignments
  &-figure {
    &-left {
      float: inline-start;
      clear: inline-start;
      margin-inline-end: var(--typo-spacing, variables.$spacing);
    }

    &-right {
      float: inline-end;
      clear: inline-end;
      margin-inline-start: var(--typo-spacing, variables.$spacing);
    }

    &-center {
      margin-left: auto;
      margin-right: auto;
      display: grid;
      place-content: center;
    }

    &-full {
      width: 100%;
    }
  }

  // Text alignment
  &-text {
    @each $alignment in (left, right, center, justify) {
      &-#{$alignment} {
        text-align: $alignment;
      }
    }
  }

  // Block alignment
  &-block {
    $alignments: start, end, center;

    @each $alignment in $alignments {
      &-#{$alignment} {
        justify-content: $alignment;
        align-items: $alignment;
      }
    }

    &-column {
      flex-direction: column;
    }
  }
}
