@use "../abstracts/variables";

.typo-spoiler {
  padding: variables.$spoiler-padding;
  border-top: 1px solid var(--typo-border-color);
  border-bottom: 1px solid var(--typo-border-color);

  :where(summary) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    &::after {
      content: var(--typo-expand-text, variables.$expand-text);
    }
  }

  &:where([open]) > :where(summary) {
    margin-bottom: var(--typo-spacing);

    &::after {
      content: var(--typo-collapse-text, variables.$collapse-text);
    }
  }

  // Accordion mode
  &:where([name]:has(+ &)) {
    margin-bottom: 0;
    border-bottom: 0;
  }
}
