.typography {
  // Table
  :where(table) {
    border-collapse: collapse;
  }

  :where(tr > *) {
    padding: var(--typo-table-cell-padding);
    border: 1px solid var(--typo-border-color);
    word-break: normal
  }

  // Blockquote
  :where(blockquote) {
    border-inline-start: 3px solid var(--typo-border-color);
    padding-inline-start: var(--typo-spacing);
  }

  // Lists
  :where(ul, ol) {
    padding-inline-start: var(--typo-spacing);
  }

  :where(ul) { list-style-type: square; }
  :where(ol) { list-style-type: decimal; }
}
