@use "../abstracts/variables";

.typography {
  // Table
  :where(table) {
    border-collapse: collapse;
  }

  :where(table tr > *) {
    padding: variables.$table-cell-padding;
    border: 1px solid var(--typo-border-color);
    word-break: normal
  }

  // Blockquote
  :where(blockquote) {
    border-inline-start: 4px solid var(--typo-border-color);
    padding-inline-start: var(--typo-inline-spacing);
  }

  // Lists
  :where(ul, ol) {
    padding-inline-start: var(--typo-inline-spacing);
  }

  :where(ul) { list-style: disc; }
  :where(ol) { list-style: decimal; }
}
