@use "../abstracts/variables";

.typography {
  // Images
  :where(figure) {
    position: relative;

    :where(figcaption) {
      text-align: center;
      margin-top: var(--typo-caption-spacing, variables.$caption-spacing);
      font-size: var(--typo-caption-size, variables.$caption-size);
    }
  }

  // Images, videos, and iframes can be responsive
  :where(img, video, iframe) {
    display: block;
    max-width: 100%;
    height: auto;
  }

  // Audio
  :where(audio) {
    width: 100%;
  }

  // Videos
  :where(iframe[src^="http"], video) {
    aspect-ratio: 16 / 9;
    width: 100%;
    height: auto;
  }
}
