
.typography {
  // Images
  :where(figure) {
    position: relative;

    :where(figcaption) {
      text-align: center;
      margin-top: 0.75rem;
      font-size: .875rem;
    }
  }

  // Images, videos, and iframes can be responsive
  :where(img, video, iframe) {
    display: block;
    max-width: 100%;
    height: auto;
  }

  // Videos
  :where(iframe[src^=http], video) {
    aspect-ratio: 16/9;
    width: 100%;
    height: auto;
  }
}
