.typography {
  :where(figure) {
     width: max-content;
  }

  :where(figcaption) {
    text-align: center;
    margin-top: var(--typo-caption-spacing);
    font-size: var(--typo-caption-size);
  }

  // Images, videos, and iframes can be responsive
  :where(img, video, iframe, figure) {
    display: block;
    max-width: 100%;
    height: auto;
  }

  // Audio
  :where(audio) {
    width: 100%;
  }

  // Videos
  :where(iframe[src*=vimeo i], iframe[src*=youtube i], video) {
    aspect-ratio: 16 / 9;
    width: 100%;
    height: auto;
  }
}
