@use "../abstracts/variables";

.typography {
  // Normalize margins
  * {
    margin: 0;
  }

  :where(br) {
    // Do not remove line breaks in paragraphs
    &:not(:where(p > *)) {
      display: none;
    }
  }

  // Grouping elements with the same margin-bottom
  // :where() is used to avoid specificitsy issues
  :where(p, figure, img, blockquote, ul, ol, pre, table, video, audio, iframe, details) {

    // Ignore videos and audios with a class
    // Ignore the last element
    // Ignore figures and blockquotes with a last child
    &:not(:where(video[class], audio[class], :last-child, :where(figure, blockquote) :last-of-type)) {
      margin-bottom: var(--typo-spacing, variables.$spacing);
    }
  }
}
