@use "../abstracts/variables";

.typography {
  :where(table) {
    border-collapse: collapse;
  }

  :where(table tr > th) {
    color: var(--typo-table-header-color, variables.$table-header-color);
  }

  :where(table tr > *) {
    padding: var(--typo-table-cell-padding, variables.$table-cell-padding);
    border: 1px solid var(--typo-border-color, variables.$border-color);
    word-break: normal
  }
}
