@use "../abstracts/variables";

.typography {
  // Global line height
  line-height: var(--typo-line-height, variables.$line-height);

  // All headings
  :where(h1, h2, h3, h4, h5, h6) {
    margin-bottom: var(--typo-heading-spacing, variables.$heading-spacing);
    font-family: var(--typo-heading-family, variables.$heading-family);
    color: var(--typo-heading-color, variables.$heading-color);
    font-weight: var(--typo-heading-weight, variables.$heading-weight);
  }

  // Individual headings
  @each $heading, $size in variables.$heading-sizes {
    :where(#{$heading}) { font-size: var(--typo-heading-size-#{$heading}, $size); }
  }

  // Blockquote
  :where(blockquote) {
    border-inline-start: 4px solid var(--typo-border-color, variables.$border-color);
    padding-inline-start: var(--typo-inline-spacing, variables.$inline-spacing);
    position: relative;
  }

  // Lists
  :where(ul, ol) {
    padding-inline-start: var(--typo-inline-spacing, variables.$inline-spacing);
  }

  :where(ul) { list-style: disc; }
  :where(ol) { list-style: decimal; }
}
