// Colors
$accent: #00bba7;
$accent-hover: #009689;
$border-color: #ccc;
$heading-color: #333;

// Spacing
$spacing: 1.5rem;
$inline-spacing: 1.5rem;
$between-spacing: 0.5rem;

// Typography
$line-height: 1.75;

// Headings
$heading-spacing: 1rem;
$heading-family: 'Arial', sans-serif;
$heading-weight: 700;
$heading-line-height: 1.2;
$heading-sizes: (
  h1: clamp(1.75rem, 5vw, 2.25rem),
  h2: clamp(1.5rem, 4.25vw, 1.875rem),
  h3: clamp(1.25rem, 3.75vw, 1.625rem),
  h4: clamp(1.125rem, 3.25vw, 1.375rem),
  h5: clamp(1rem, 2.75vw, 1.25rem),
  h6: clamp(0.875rem, 2.5vw, 1.125rem)
);

// Paragraphs
$drop-cap-lines: 3;

// Font sizes
$font-sizes: (
  small: 0.875rem,
  normal: 1rem,
  medium: 1.25rem,
  large: 1.5rem,
  x-large: 2rem,
  xx-large: 2.5rem
);

// Code
$code-background: #f4f4f4;
$code-padding: 1.5rem;
$code-font-size: 1rem;

// Table
$table-header-color: #212121;
$table-cell-padding: .75rem;

// Media
$caption-spacing: 0.75rem;
$caption-size: 0.875rem;

// Spoiler
$spoiler-padding: 1rem;
$expand-text: '\002B';
$collapse-text: '\2212';

// Columns
$column-min: 200px;

// Gallery
$gallery-spacing: 2px;
$gallery-min: 200px;
$gallery-caption-background: linear-gradient(transparent, #0006);
$gallery-caption-color: white;
$gallery-caption-padding: 0.75rem;

// Buttons
$button-background: #0a0a0a;
$button-hover-background: #404040;
$button-border-color: #0a0a0a;
$button-padding: 0.5rem 1.25rem;
$button-color: white;
$button-hover-color: white;
$button-font-size: .875rem;
$button-radius: 0.25rem;
$button-spacing: 0.5rem;
