// Colors
$border-color: #ccc;
$heading-color: #333;

// Spacing
$spacing: 1rem;
$heading-spacing: 1rem;
$inline-spacing: 1.5rem;

// Typography
$heading-family: 'Arial', sans-serif;
$heading-size-h1: 2rem;
$heading-size-h2: 1.75rem;
$heading-size-h3: 1.5rem;
$heading-size-h4: 1.25rem;
$heading-weight: 700;
