// Colors
$border-color: #ccc;

// Spacing
$spacing: 1.5rem;
$inline-spacing: 1.5rem;

// Headings
$heading-spacing: 1rem;
$heading-sizes: (
  h1: clamp(1.75rem, 5vw, 2.25rem),
  h2: clamp(1.5rem, 4.25vw, 1.875rem),
  h3: clamp(1.25rem, 3.75vw, 1.625rem),
  h4: clamp(1.125rem, 3.25vw, 1.375rem),
  h5: clamp(1rem, 2.75vw, 1.25rem),
  h6: clamp(0.875rem, 2.5vw, 1.125rem)
);

// Paragraphs
$initial-letter: 3;

// Code
$code-background: #2a2833;
$code-color: white;
$code-padding: 1.5rem;
$code-font-size: 1rem;

// Table
$table-cell-padding: .75rem;

// Media
$caption-spacing: 0.75rem;
$caption-size: 0.875rem;

// Spoiler
$spoiler-padding: 1rem;
$expand-text: 'Expand';
$collapse-text: 'Collapse';

// Columns
$column-min: 200px;

// Gallery
$gallery-spacing: 2px;
$gallery-min: 200px;
$gallery-caption-background: linear-gradient(transparent, #0006);
$gallery-caption-color: white;
$gallery-caption-padding: 0.75rem;
